
/* FULL PAGE STYLE */
* {
	margin: 0px;
}

p{
	line-height: 2;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #B0C4DE;
}

/* NAVIGATION STYLE */
nav {
	height: 100px;
	background-color: #4978bf;
	color: white;
}
nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
nav ul li {
	padding: 40px 0 0 0;
	list-style: none;
}

/* IMAGE BANNER */
#home-banner {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	height: 500px;
	background: Aquamarine;
	background-image: url("../images/skyline.jpg");
	background-size: cover;
	opacity: 0.5;
}
#home-banner h1 {
	font-size: 80px;
	color: white;
	text-shadow: 2px 2px #000;
}

/* ABOUT US */
#about-us {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	padding: 0px 150px 0 150px;
	height: 500px;
}

#about-us h2 {
	text-align: center;
	padding-bottom: 20px;
}


/* SUPER USER VIEW */

#super-usr {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	padding-top: 120px;
	padding-bottom: 200px;

}








/* FOOTER */
footer {
	display: flex;
	flex-direction: row;
	align-items: flex-end;

	height: 200px;
	background-color: #4978bf;
}
footer p {
	padding: 30px;
}
